* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-nav {
    /* width: 1380px; */
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 15px;
    /* border: 1px solid #fff; */
}

.logo img {
    width: 110px;
    position: relative;
}

.logo span {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 25px;
    left: 115px;
}

.location {
    position: relative;
    /* padding: 5px 30px; */
    margin-left: 28px;
    /* border: 1px solid #fff; */
    color: #fff;
}

.location i {
    font-size: 16px;
    position: absolute;
    top: 12px;
    left: -15px;
}

.location p {
    font-size: 12px;
    color: #d3d3d3;
}

.location h4 {
    font-size: 14px;
}

.search {
    display: flex;
    margin-left: 28px;
}

.search input {
    width: 40vw;
    height: 40px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input:focus {
    outline: none;
}

.search i {
    font-size: 2vw;
    background-color: #febd69;
    padding: 6px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mobile-search {
    display: none;
}
.country-section {
    display: flex;
    margin-left: 28px;
    position: relative;
}

.country-section img {
    width: 25px;
}

.country-section .language {
    color: #fff;
    font-size: 14px;
    padding-left: 4px;
    font-weight: 700;
}

.country-section i {
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.account-section {
    position: relative;
}

.account-section i {
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 18px;
    left: 110px;
}

.cart {
    color: #fff;
    margin: 0 28px;
}

.cart i {
    font-size: 30px;
}

/* nav-list */
.nav-list {
    background-color: #232F3E;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    height: 35px;
}
.menuAll {
    display: flex;
    align-items: center;
    gap: 4px;
}
.nav-list a {
    color: #fff;
    font-size: 14px;
}
.nav-list i {
    color: #fff;
}
.listItem {
    display: flex;
    gap: 20px;
}

/* carousel-item */
/* 
.carousel {
    max-width: 1380px;
} */

/* .mobile-section {
    display: none;
} */
.item-section {
    max-width: 1380px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.item1 {
    width: 310px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding-bottom: 20px;
}
.item1 h2 {
    font-size: 20px;
    padding-left: 20px;
    line-height: 28px;
    margin-top: 20px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
    padding: 10px 20px 30px 20px;
}
.boxItem img {
    width: 125px;
    height: 110px;
}
.boxItem p {
    font-size: 12px;
}
.item1 a {
    font-size: 12px;
    padding-left: 20px;
    color: #2f6ca7;
}

/* item2 */
.signBtn {
    width: 320px;
    height: 150px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.signBtn h2 {
    font-size: 20px;
    line-height: 28px;
}
.signBtn button {
    width: 100%;
    background-color: #FFCE12;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}
.signBtn a {
    font-size: 12px;
}
.itemZebronic {
    width: 300px;
    height: 270px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 15px;
    margin-left: 10px;
}
.zebronicSpeaker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.itemZebronic .zebSpeakarImg {
    width: 150px;
}
.itemZebronic .zebLogoImg {
    width: 100px;
}
.itemZebronic h5 {
    font-weight: 600;
}
.itemZebronic .ratings {
    width: 100px;
}
.zebronicDetials {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.priceTag {
    display: flex;
    gap: 20px;
    padding-left: 5px;
}
.priceTag span {
    font-size: 14px;
}
.price {
    position: relative;
}
.price i{
    position: absolute;
    font-size: 8px;
    top: 2px;
    left: -6px;
}
.price .zero {
    position: absolute;
    font-size: 10px;
}
.priceCross i{
    font-size: 12px;
}